body{
    background-color: white;
}


.main-page-title{
    background-image: url("/images/santa_clarita.jpg");
    height: 200px;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    border: 5px solid black;
     
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    background-color: rgb(40, 54, 24);
    height:50px;
    align-items: center;
    border: 5px solid black;
    border-top: 0px;
    color: white;
}

.section-img{
    display: flex;
    justify-content: center;
    height: 200px;
}

#scvlogo{
    margin-top: 20px;
    margin-bottom: 10px;
}

.article{
    display: flex;
    justify-content: center;
    margin: 0px 100px;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 50px;
    height: 200px;
}
#article-paragraph{
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 20px;

}

a{
    color: wheat;
    text-decoration: none;
}

.footer {
    background-color: rgb(40, 54, 24);
    color: white;
    position: relative;
    height: 30px;
    justify-content: flex-end;
    align-items: flex-end;
    border: 2px solid black;
    text-align: end;
}